<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <div leftnavigation></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div pageheader></div>
        <!-- <div ng-include="'common/directives/pageHeader/pageHeader.html'"></div> -->
        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <div footergeneric></div>

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    <!-- <div ng-include="'views/common/right_sidebar.html'"></div> -->

</div>
<!-- End wrapper-->