<div  ng-controller="monitordashboard">
    <div class="row  border-bottom white-bg dashboard-header ibox">
        <div class="col-sm-6">
            <h2>{{ 'Sync Summary' | translate }}</h2>
            <small>{{ 'You have '+synclog_exception +' exception(s)' }}</small>
            <ul class="list-group clear-list m-t">
                <li class="list-group-item" ng-repeat="x in synclog">
                    <span style="width:200px;display: inline-block" class="pull-left {{x.Exception>0?'label-danger':''}}">{{x.dataName}}</span>
                    <span style="width:50px;display: inline-block" class="label label-success pull-right">{{x.UpdateSuccess}}</span>
                    <span style="width:30px;display: inline-block" class="label label-default pull-right">{{x.NoNeedUpload==null?0:x.NoNeedUpload}}</span>
                    <span style="width:30px;display: inline-block" class="label label-warning pull-right">{{x.New==null?0:x.New}}</span>
                    <span style="width:30px;display: inline-block" class="label label-primary pull-right">{{x.Inqueue==null?0:x.Inqueue}}</span>
                    <span style="width:30px;display: inline-block" class="label label-primary pull-right">{{x.Processing==null?0:x.Processing}}</span>
                    <span style="width:30px;display: inline-block" class="label label-danger pull-right">{{x.Exception==null?0:x.Exception}}</span>
                    <span>&nbsp;</span>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <div class="flot-chart dashboard-chart" ng-controller="dashboardFlotOne as chart">
                <div flot class="flot-chart-content" dataset="chart.flotData" options="chart.flotOptions"></div>
            </div>
            <div class="row text-left">
                <div class="col-xs-4">
                    <div class=" m-l-md">
                        <span class="h4 font-bold m-t block">$ 406,100</span>
                        <small class="text-muted m-b block">Sales marketing report</small>
                    </div>
                </div>
                <div class="col-xs-4">
                    <span class="h4 font-bold m-t block">$ 150,401</span>
                    <small class="text-muted m-b block">Annual sales revenue</small>
                </div>
                <div class="col-xs-4">
                    <span class="h4 font-bold m-t block">$ 16,822</span>
                    <small class="text-muted m-b block">Half-year revenue margin</small>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="statistic-box">
                <h4>Project Beta progress</h4>

                <p>You have two project with not compleated task.</p>

                <div class="row text-center" ng-controller="chartJsCtrl as chart">
                    <div class="col-lg-6" >
                        <canvas polarchart options="chart.polarOptions" data="chart.polarData" width="80" height="80"></canvas>
                        <h5>Kolter</h5>
                    </div>
                    <div class="col-lg-6">
                        <canvas doughnutchart options="chart.doughnutOptions" data="chart.doughnutData" width="78" height="78"></canvas>
                        <h5>Maxtor</h5>
                    </div>
                </div>
                <div class="m-t">
                    <small>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </small>
                </div>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Exception details: {{syncErrors.length}}</h5>
                    <div>
                        <div class="ibox-tools dropdown" uib-dropdown="">
                            <a ng-click="getSyncErrors()"> <i class="fa fa-refresh"></i>
                            </a>
                            <a ng-click="showhide()"> <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <a ng-click="sortBy('DataName')">DataName</a>
                                        <span class="sortorder" ng-show="propertyName === 'DataName'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th>
                                        <a ng-click="sortBy('Destination')">Destination</a>
                                        <span class="sortorder" ng-show="propertyName === 'Destination'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th>
                                        <a ng-click="sortBy('Key1')">Key1</a>
                                        <span class="sortorder" ng-show="propertyName === 'Key1'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th style="width:100px">Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in syncErrors|orderBy:propertyName:reverse" ng-click="showErrorDetail(x.ID)">
                                    <td >{{x.DataName}}</td>
                                    <td>{{x.Destination}}</td>
                                    <td>
                                        <a popover-placement="left" uib-popover-template="'exceptionOtherInfo.html'" >{{x.Key1}}</a>
                                    </td>
                                    <td>{{x.Result}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/ng-template" id="exceptionOtherInfo.html">
    <div><strong>SyncTimes:</strong>{{ x.SyncTimes }}</div>
    <div><strong>Key2:</strong>{{ x.Key2 }}</div>
    <div><strong>Key3:</strong>{{ x.Key3 }}</div>
    <div><strong>CreatedBy:</strong>{{ x.CreatedBy }}</div>
    <div><strong>CreatedDttm:</strong>{{ x.CreatedDttm }}</div>
    <div><strong>UpdatedDttm:</strong>{{ x.UpdatedDttm }}</div>
</script>